@mixin crop-underlines-with($colour) {
  text-shadow:
    .03em 0 $colour,
    -.03em 0 $colour,
    0 .03em $colour,
    0 -.03em $colour,
    .06em 0 $colour,
    -.06em 0 $colour,
    .09em 0 $colour,
    -.09em 0 $colour,
    .12em 0 $colour,
    -.12em 0 $colour,
    .15em 0 $colour;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  vertical-align: baseline;

  background-image: linear-gradient(currentColor, currentColor);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 82%;

  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4 {
  a {
    background-position: 0% 78%;
  }
}

.✨spellbook {
  a {
    @include crop-underlines-with($colour-white)
  }
}

.✨witches {
  a {
    @include crop-underlines-with($colour-primary-dark)
  }
}
