main {
  position: relative;
  background: $colour-white;
  color: $colour-black;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: $base-section-padding/2;
    background: url("../assets/images/pointy.svg");
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: contain;
  }

  &:before {
    top: -$base-section-padding/2;
    transform: translateY(2px);
  }

  &:after {
    bottom: -$base-section-padding/2;
    transform: rotate(180deg) translateY(2px);
    filter: drop-shadow(0 (-$base-section-padding/4) 0 transparentize($colour-black, 0.7))
  }
}

.✨spellbook {
  padding: $base-section-padding 0;
}

.✨spell {
  width: 94%;
  max-width: $max-width;
  margin: 0 auto;
}
