main {
  position: relative;
}

section {
  padding: $base-section-padding 0;
}

.✨codex {
  width: 94%;
  margin: 0 auto;
  padding: $base-section-padding $base-spacing;
  max-width: $max-width;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  &🍬cover {
    flex-basis: $sidebar-width;
    max-width: $sidebar-max-width;
    margin-right: $base-spacing * 2;
  }

  &🍬spells {
    flex-grow: 1;
  }
}
