main {
  position: relative;
}

section {
  padding: $base-section-padding 0;
}

.✨codex {
  width: 94%;
  margin: 0 auto;
  padding: $base-section-padding $base-spacing;

  @media #{$mq-tablet} {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    max-width: $max-width-wide;
    padding-bottom: 15em;

    &🍬cover {
      flex-shrink: 0;
      width: $sidebar-width;
      max-width: $sidebar-max-width;
      margin-right: $base-spacing * 2;
      text-align: center;
    }

    &🍬spells {
      flex-grow: 1;
    }
  }

  @media #{$mq-desktop} {
    max-width: $max-width-thin;
  }
}
