@import '~_bat-sprite';

$bat-aspect: ($flap-1-width/$flap-1-height);
$bat-width: 13em;
$bat-height: $bat-width/$bat-aspect;

.✨bat-friend {
  @include sprite($flap-1);
  display: block;
  margin: 0;
  width: $bat-width;
  height: $bat-height;

  animation: flip-flap 0.75s steps(5) infinite;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@keyframes flip-flap {
  from {
     background-position: 0 0;
  }
  to {
     background-position: 125% 0;
  }
}
