.✨cover {
  text-align: center;
  background-image: url('../assets/images/danibomb.png'), url('../assets/images/bombYEN.png');
  background-position: bottom left, bottom right;
  background-size: 25%;
  background-repeat: no-repeat;

  &🍬logo {
    margin: 0 auto $base-spacing;
    min-width: $logo-min-width;
    width: $logo-width;
    position: relative;
    z-index: 1;

    a {
      border: none;
    }

    figcaption {
      display: none;
    }
  }

  .✨bat-friend {
    position: absolute;
    top: 15%;
    right: 80%;
    width: 75%;
    height: 0;
    padding-bottom: 60%;
    z-index: -1;
  }
}
