.✨cover {
  text-align: center;

  background-color: $colour-primary;
  background-repeat: no-repeat;

  background-image:
    url('../assets/images/danibomb.png'), url('../assets/images/bombYEN.png'),
    repeating-radial-gradient(
      ellipse farthest-corner at center top,
      $colour-primary-light,
      $colour-primary
    );

  background-position:
    bottom left,
    bottom right,
    top left;

  background-size:
    25%,
    25%,
    100%;

  &🍬logo {
    margin: 0 auto $base-spacing;
    min-width: $logo-min-width;
    width: $logo-width;
    position: relative;
    z-index: 1;

    a {
      background: none;
    }

    figcaption {
      display: none;
    }
  }
}
