$base-font-size-small: 75% !default;
$base-font-size-medium: 87.5 !default;
$base-font-size-large: 100% !default;
$base-font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !default;

$header-font-family: $base-font-family !default;

$base-line-height: 1.62 !default;
$base-letter-spacing: 0.005em !default;

$header-line-height: 1 !default;
$header-letter-spacing: -0.005em !default;

$font-weight-light: 300 !default;
$font-weight-regular: 500 !default;
$font-weight-heavy: 700 !default;
$font-weight-ultra: 900 !default;

$font-size-h1: 3.5rem !default;
$font-size-h2: 3rem !default;
$font-size-h3: 2.5rem !default;
$font-size-h4: 2rem !default;
$font-size-h5: 1.5rem !default;
$font-size-h6: 1.25rem !default;
