$colour-white: #FFFFFF;
$colour-black: #180B02;
$colour-ground: #E0D7C7;

$colour-primary: #604064;
$colour-primary-light: #694b6d;
$colour-primary-dark: #342641;

$colour-starry: #F0E6A2;

$colour-red: #ab0061;
$colour-red-light: #b00f6a;

$colour-green: #5fc7c1;

$base-font-family: 'Noyh R', sans-serif;
$header-font-family: 'Noyh R', sans-serif;
